
<script type="text/javascript">
    var dataSource =
        [
            { Value: "http://chinhphu.vn/portal/page/portal/chinhphu/trangchu", Name: 'Cổng thông tin điện tử Chính phủ' },
            { Value: "http://www.cpv.org.vn/", Name: 'Báo điện tử Đảng Cộng Sản' },
            { Value: "http://www.vtv.vn/", Name: 'Đài truyền hình Việt Nam' }
        ];
    $(document).ready(function () {

        $('#cboLinkWebsite').dxSelectBox({
            dataSource: dataSource,
            displayExpr: 'Name',
            valueExpr: 'Value',
            searchEnabled: true,
            placeholder: 'Liên kết website',
            onValueChanged(e) { 
                window.open(e.value, '_blank');
            },
        });

    });

</script>