
[ISFIRST]
<div class="item1" onclick="window.location='[LINK]';">
    <div class="img-62 border-radius-8 cursor-pointer" style="background-image:url('[IMAGELINK]')"></div>
    <a class="cursor-pointer article-title line-height-normal font-size-18 mt-2">[TITLE]</a>
</div>
[/ISFIRST]
[ISNOTFIRST]
<div class="item[ITEMINDEX] row m-0" onclick="window.location='[LINK]';">
    <div class="img-20 col-md-4 border-radius-8 cursor-pointer" style="background-image:url('[IMAGELINK]')"></div>
    <a class="article-title-4 col font-size-14">[TITLE]</a>
   
</div>
[/ISNOTFIRST]
