
<!-- <div class="card-new-article" style="height: 100px;" onclick="window.location='[LINK]';"> -->
    <!-- <img class="cursor-pointer width-15" style="min-width: 120px" src="[IMAGELINK]"> -->
    <!-- <div class="ml-2"> -->
        <!-- <a class="font-size-13 article-title">[TITLE]</a> -->
        <!-- <p class="font-size-11">[CREATEDATE:dd/MM/yyyy]</p> -->
        <!-- <!-- <p class="article-description-2 font-size-13">[SUMMARY:300]</p> --> 
    <!-- </div> -->
<!-- </div> -->

<div class="card-new-article cursor-pointer" onclick="window.location='[LINK]';">
    <div class="img-155 border-radius-4 cursor-pointer" style="background-image:url('[IMAGELINK]')"></div>
    <div class="overlay">
	<p class="font-size-13" style="color: white;padding: 5px;">[CREATEDATE:dd/MM/yyyy]</p>
    <a class="font-size-13">[TITLE]</a>
    </div>
</div>
 