[ISFIRST]
<div class="list-group-item" style="background: #f7f7f7;" onclick="window.location='[LINK]';">
    <div class="row">
        <div class="col">
        <img class="cursor-pointer" style="object-fit: cover;" src="[IMAGELINK]">
        </div>
        <div class="col-md-4 d-flex flex-column">
            <div class="mb-auto">
            <a class="article-title font-size-18 cursor-pointer">[TITLE]</a>
            <span class="font-size-13 font-weight-bold" style="color: #999;">[CREATEDATE:dd/MM/yyyy]</span>
            <p class="article-description-10 font-size-14">[SUMMARY:600]</p>
             </div>
            
        </div>
    </div>
</div>
[/ISFIRST]
[ISNOTFIRST]
<div class="list-group-item " onclick="window.location='[LINK]';">
    <div class="row">
        <div class="col">
        <img class="cursor-pointer" style="object-fit: cover;" src="[IMAGELINK]">
        </div>
        <div class="col-md-7 d-flex flex-column">
            <div class="mb-auto">
            <a class="article-title font-size-18 cursor-pointer">[TITLE]</a>
            <span class="font-size-13 font-weight-bold" style="color: #999;">[CREATEDATE:dd/MM/yyyy]</span>
            <p class="article-description-4 font-size-14">[SUMMARY:600]</p>
             </div>
             
        </div>
    </div>
</div>
[/ISNOTFIRST]